/* On mouse hover, lighten state color */
path:hover {
    fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width:70px;
    height: max-content;    
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: white;
    color:#351C15;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Legend Style */
.legend {
    position: absolute;
    font-size: 11px;
    left: 725px;
    bottom: -35px
}

.caller-volume__graph {
    position: absolute;
    left: 52px;
}

.quarter-select {
    position: absolute;
    bottom: -65px;
    left: 20px;
    width: 125px;
}