.kpi-collection {
    margin-top: 15px;
    margin-bottom: 40px;
    height: 1130px;
}

.kpi-collection__cs, .kpi-collection__transport, .kpi-collection__claims {
    font-size: 1.4rem;
    font-weight: 350;
    width: max-content;
    position: relative;
    left: 25px;
}

.kpi-collection__transport {
    top: -350px;
}

.kpi-collection__claims {
    top: -312px;
    z-index: 5;
    left: 950px;
}