.kpi__title {
    color: var(--ups-brown);
    padding: 8px;
    font-size: 1.1rem;
}

.kpi__graph {
    width: 450px;
    top: 10%;
    left: 3%;
    transform: scale(1);
    position: absolute;
}

.kpi__returns, .kpi__caller, .kpi__time, .kpi__claims, .kpi__transport, .kpi__emissions {
    margin: 10px 0px 10px 25px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    border-radius: 5px;
    display: inline-block;
    transition: all .35s ease-in-out;
    position: relative;
}

.kpi__returns {
    width: 530px;
    height: 325px;
}

.kpi__caller {
    width: 900px;
    height: 575px;
}

.kpi__claims {
    width: 530px;
    height: 325px;
    position: absolute;
    top: 900px;
    left: 932px;
}

.kpi__time {
    width: 530px;
    height: 325px;
    position: relative;
    top: -250px;
    left: 925px;
}

.kpi__transport {
    width: 530px;
    height: 300px;
    position: absolute;
    top: 810px;
}

.kpi__emissions {
    width: 346px;
    height: 300px;
    position: absolute;
    top: 810px;
    left: 562px;
}

.kpi__returns:hover, .kpi__caller:hover, .kpi__transport:hover, .kpi__time:hover, .kpi__claims:hover, .kpi__emissions:hover {
    transform: scale(1.01);
}