.emissions-circle__outer {
    width: 140px !important;
    position: absolute;
    top: 100px;
    left: 54px;
}

.emissions-circle__mid {
    width: 115px !important;
    position: absolute;
    top: 100px;
    left: 78px;
}

.emissions-circle__inner {
    width: 90px !important;
    position: absolute;
    top: 100px;
    left: 102px;
}