.title-bar {
    box-sizing: border-box;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid lightgray;
}

.title-bar__inner__ups-logo {
    margin: 4px 10px 15px 115px;
    width: 80px;
}

.title-bar__inner__title {
    color: var(--ups-brown);
    bottom: 30px;
    left: -15px;
    position: relative;
    display: inline-block;
    width: max-content;
    font-size: 1.2rem;
}

